Final/PedidosWin/Service References/PedidosWS/Pedidos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16224/Pedidos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" />
  <xs:element name="CrearPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codCompania" type="xs:int" />
        <xs:element minOccurs="0" name="codSucursalCia" type="xs:int" />
        <xs:element minOccurs="0" name="ano" type="xs:int" />
        <xs:element minOccurs="0" name="fecPedido" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codCliente" type="xs:int" />
        <xs:element minOccurs="0" name="codSucursal" type="xs:int" />
        <xs:element minOccurs="0" name="codUsuarioVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codDocumentoFacturacion" type="xs:int" />
        <xs:element minOccurs="0" name="numeroOrdenCompra" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codMoneda" type="xs:int" />
        <xs:element minOccurs="0" name="importeTotalBruto" type="xs:double" />
        <xs:element minOccurs="0" name="importeTotalDescuento" type="xs:double" />
        <xs:element minOccurs="0" name="porcentajeIGV" type="xs:double" />
        <xs:element minOccurs="0" name="importeTotalIGV" type="xs:double" />
        <xs:element minOccurs="0" name="importeTotalNeto" type="xs:double" />
        <xs:element minOccurs="0" name="codEstadoAtencion" type="xs:int" />
        <xs:element minOccurs="0" name="codAlmacen" type="xs:int" />
        <xs:element minOccurs="0" name="codEstadoRegistro" type="xs:int" />
        <xs:element minOccurs="0" name="codUsuarioCreador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecCreacion" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codUsuarioUpdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecUpdate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="CrearPedidoResult" nillable="true" type="q1:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroPedido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ObtenerPedidoResult" nillable="true" type="q2:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroPedido" type="xs:int" />
        <xs:element minOccurs="0" name="codCompania" type="xs:int" />
        <xs:element minOccurs="0" name="codSucursalCia" type="xs:int" />
        <xs:element minOccurs="0" name="ano" type="xs:int" />
        <xs:element minOccurs="0" name="fecPedido" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codCliente" type="xs:int" />
        <xs:element minOccurs="0" name="codSucursal" type="xs:int" />
        <xs:element minOccurs="0" name="codUsuarioVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codDocumentoFacturacion" type="xs:int" />
        <xs:element minOccurs="0" name="numeroOrdenCompra" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codMoneda" type="xs:int" />
        <xs:element minOccurs="0" name="importeTotalBruto" type="xs:double" />
        <xs:element minOccurs="0" name="importeTotalDescuento" type="xs:double" />
        <xs:element minOccurs="0" name="porcentajeIGV" type="xs:double" />
        <xs:element minOccurs="0" name="importeTotalIGV" type="xs:double" />
        <xs:element minOccurs="0" name="importeTotalNeto" type="xs:double" />
        <xs:element minOccurs="0" name="codEstadoAtencion" type="xs:int" />
        <xs:element minOccurs="0" name="codAlmacen" type="xs:int" />
        <xs:element minOccurs="0" name="codEstadoRegistro" type="xs:int" />
        <xs:element minOccurs="0" name="codUsuarioCreador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecCreacion" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codUsuarioUpdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecUpdate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ModificarPedidoResult" nillable="true" type="q3:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroPedido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPedidoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPedidos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPedidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ListarPedidosResult" nillable="true" type="q4:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>