Final/PedidosWin/Service References/PedidosWS/Pedidos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ano" type="xs:int" />
      <xs:element minOccurs="0" name="CodAlmacen" type="xs:int" />
      <xs:element minOccurs="0" name="CodCliente" type="xs:int" />
      <xs:element minOccurs="0" name="CodCompania" type="xs:int" />
      <xs:element minOccurs="0" name="CodDocumentoFacturacion" type="xs:int" />
      <xs:element minOccurs="0" name="CodEstadoAtencion" type="xs:int" />
      <xs:element minOccurs="0" name="CodEstadoRegistro" type="xs:int" />
      <xs:element minOccurs="0" name="CodMoneda" type="xs:int" />
      <xs:element minOccurs="0" name="CodSucursal" type="xs:int" />
      <xs:element minOccurs="0" name="CodSucursalCia" type="xs:int" />
      <xs:element minOccurs="0" name="CodUsuarioCreador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodUsuarioUpdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodUsuarioVendedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FecCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FecPedido" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FecUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImporteTotalBruto" type="xs:double" />
      <xs:element minOccurs="0" name="ImporteTotalDescuento" type="xs:double" />
      <xs:element minOccurs="0" name="ImporteTotalIGV" type="xs:double" />
      <xs:element minOccurs="0" name="ImporteTotalNeto" type="xs:double" />
      <xs:element minOccurs="0" name="NumeroOrdenCompra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPedido" type="xs:int" />
      <xs:element minOccurs="0" name="PorcentajeIGV" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
  <xs:complexType name="ArrayOfPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pedido" nillable="true" type="tns:Pedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedido" nillable="true" type="tns:ArrayOfPedido" />
</xs:schema>