ProyectoFinal/PedidosWin/Service References/PedidoDetallesWS/PedidoDetalles.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PedidoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ano" type="xs:int" />
      <xs:element minOccurs="0" name="CodCompania" type="xs:int" />
      <xs:element minOccurs="0" name="CodEstadoAtencion" type="xs:int" />
      <xs:element minOccurs="0" name="CodEstadoRegistro" type="xs:int" />
      <xs:element minOccurs="0" name="CodItemArticulo" type="xs:int" />
      <xs:element minOccurs="0" name="CodSucursalCia" type="xs:int" />
      <xs:element minOccurs="0" name="CodUsuarioCreador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodUsuarioUpdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FecCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FecUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImportePrecioUnitarioCIGV" type="xs:double" />
      <xs:element minOccurs="0" name="ImportePrecioUnitarioSIGV" type="xs:double" />
      <xs:element minOccurs="0" name="ImporteSubtotalBruto" type="xs:double" />
      <xs:element minOccurs="0" name="ImporteSubtotalDescuento" type="xs:double" />
      <xs:element minOccurs="0" name="ImporteSubtotalNeto" type="xs:double" />
      <xs:element minOccurs="0" name="NumeroItem" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroPedido" type="xs:int" />
      <xs:element minOccurs="0" name="PorcentajeDescuento" type="xs:double" />
      <xs:element minOccurs="0" name="UnidadesComprometidas" type="xs:int" />
      <xs:element minOccurs="0" name="UnidadesPedidas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoDetalle" nillable="true" type="tns:PedidoDetalle" />
  <xs:complexType name="ArrayOfPedidoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidoDetalle" nillable="true" type="tns:PedidoDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidoDetalle" nillable="true" type="tns:ArrayOfPedidoDetalle" />
</xs:schema>