Final/PedidosWin/Service References/PedidoDetallesWS/PedidoDetalles.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PedidoDetalles" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16224/PedidoDetalles.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16224/PedidoDetalles.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16224/PedidoDetalles.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPedidoDetalles_CrearPedidoDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearPedidoDetalle" />
  </wsdl:message>
  <wsdl:message name="IPedidoDetalles_CrearPedidoDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearPedidoDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoDetalles_ObtenerPedidoDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPedidoDetalle" />
  </wsdl:message>
  <wsdl:message name="IPedidoDetalles_ObtenerPedidoDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPedidoDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoDetalles_ModificarPedidoDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPedidoDetalle" />
  </wsdl:message>
  <wsdl:message name="IPedidoDetalles_ModificarPedidoDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPedidoDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoDetalles_EliminarPedidoDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPedidoDetalle" />
  </wsdl:message>
  <wsdl:message name="IPedidoDetalles_EliminarPedidoDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPedidoDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoDetalles_ListarPedidoDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPedidoDetalle" />
  </wsdl:message>
  <wsdl:message name="IPedidoDetalles_ListarPedidoDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPedidoDetalleResponse" />
  </wsdl:message>
  <wsdl:portType name="IPedidoDetalles">
    <wsdl:operation name="CrearPedidoDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoDetalles/CrearPedidoDetalle" message="tns:IPedidoDetalles_CrearPedidoDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoDetalles/CrearPedidoDetalleResponse" message="tns:IPedidoDetalles_CrearPedidoDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPedidoDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoDetalles/ObtenerPedidoDetalle" message="tns:IPedidoDetalles_ObtenerPedidoDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoDetalles/ObtenerPedidoDetalleResponse" message="tns:IPedidoDetalles_ObtenerPedidoDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPedidoDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoDetalles/ModificarPedidoDetalle" message="tns:IPedidoDetalles_ModificarPedidoDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoDetalles/ModificarPedidoDetalleResponse" message="tns:IPedidoDetalles_ModificarPedidoDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPedidoDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoDetalles/EliminarPedidoDetalle" message="tns:IPedidoDetalles_EliminarPedidoDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoDetalles/EliminarPedidoDetalleResponse" message="tns:IPedidoDetalles_EliminarPedidoDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPedidoDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoDetalles/ListarPedidoDetalle" message="tns:IPedidoDetalles_ListarPedidoDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoDetalles/ListarPedidoDetalleResponse" message="tns:IPedidoDetalles_ListarPedidoDetalle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPedidoDetalles" type="tns:IPedidoDetalles">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearPedidoDetalle">
      <soap:operation soapAction="http://tempuri.org/IPedidoDetalles/CrearPedidoDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPedidoDetalle">
      <soap:operation soapAction="http://tempuri.org/IPedidoDetalles/ObtenerPedidoDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPedidoDetalle">
      <soap:operation soapAction="http://tempuri.org/IPedidoDetalles/ModificarPedidoDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPedidoDetalle">
      <soap:operation soapAction="http://tempuri.org/IPedidoDetalles/EliminarPedidoDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPedidoDetalle">
      <soap:operation soapAction="http://tempuri.org/IPedidoDetalles/ListarPedidoDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PedidoDetalles">
    <wsdl:port name="BasicHttpBinding_IPedidoDetalles" binding="tns:BasicHttpBinding_IPedidoDetalles">
      <soap:address location="http://localhost:16224/PedidoDetalles.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>